.ui-car-div {
  background-color: #f8f8f8;
  padding: 1.8rem;
  font-size: 1.2rem;
  width: 100%;
  white-space: nowrap;
  margin-top: -0.2rem;
  position: relative;
}
.ui-card-div div {
  display: inline-block;
}
.sub-header .ui-card-time {
  float: left;
}
