<app-bigscreen></app-bigscreen>
<!--<app-trending [cars]="cars$ | async" title="Trending Now"></app-trending>-->
<!--<app-main-search></app-main-search>

<section class="course-list__grid">
  <div
    class="course-list__courses-count course-list__courses-count--large ng-binding"
  >
    Results: 126 courses
    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
  </div>-->
<p-dataView
  #dv
  [value]="cars$ | async"
  [paginator]="true"
  [rows]="20"
  paginatorPosition="bottom"
  filterBy="brand"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
  layout="list"
>
  <p-header>
    <app-search-bar></app-search-bar>
  </p-header>

  <ng-template let-car pTemplate="gridItem">
    <app-card [car]="car" width="330px"></app-card>
  </ng-template>
  <ng-template let-car pTemplate="listItem">
    <div>
      <app-list-car [car]="car"> </app-list-car>
    </div>
  </ng-template>
</p-dataView>

<app-pricing></app-pricing>
