<p-header>
  <img
    class="image"
    src="Card"
    height="200px"
    [src]="getCarPictures(car.pictures)"
  />
</p-header>
<div class="sub-header">
  <div class="ui-card-title ng-star-inserted">
    {{ car.brand.brand }} {{ car.model }} {{ car.sub.sub }}
  </div>
  <div class="ui-card-div">
    <div class="ui-card-time">
      {{ car.createdAt | ago }}
      <i class="fas fa-clock" style="color: rgb(185, 172, 56);"></i>
    </div>
    <div class="ui-card-address">
      <span style="margin-left: 5px;"> {{ car.city }}</span>
      <i class="fas fa-map-marker" style="color: rgb(102, 99, 99);"></i>
    </div>
  </div>
  <div class="ui-card-subtitle ng-star-inserted">
    {{ car.price | currency }}
  </div>
</div>
<!--<h3>
  <time>{{ car.createdAt | date }}</time>
</h3> -->
