:host {
  cursor: pointer;
  margin: 0px;
  margin-left: 15px;
}
:host:hover {
  transform: scale(1.04);
}
:host .ui-card-shadow.ui-card.ui-widget.ui-widget-content.ui-corner-all {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}
