<section class="hero">
  <div class="content__wrapper ng-scope">
    <div class="hero__content">
      <h1 class="hero__title">السيارات على الإنترنت</h1>
      <p class="hero__subtitle">
        نحن نغير طريقة شراء الناس للسيارات المستعملة من خلال توفير اختيار وقيمة
        وجودة وراحة وراحة بال أفضل
        <br />
        <br />

        <button
          pButton
          type="button"
          label="إضافة سيارة جديدة"
          (click)="addNew()"
          class="ui-button-danger ui-button-text"
          icon="pi pi-plus"
          iconPos="left"
        ></button>
      </p>
    </div>
  </div>
</section>
