<app-brands *ngIf="transfer.step === 0"></app-brands>
<app-sub *ngIf="transfer.step === 1"> </app-sub>
<app-years *ngIf="transfer.step === 2"></app-years>
<app-cities *ngIf="transfer.step === 3"></app-cities>
<div style="justify-content: center; display: flex;">
  <div class="p-grid">
    <p-fieldset>
      <div class="p-col-12 preset">
        {{ transfer.brand.brand }}
      </div>
      <div class="p-col-12 preset">
        {{ transfer.subBrand.sub }}
      </div>
      <div class="p-col-12 preset">
        {{ transfer.model }}
      </div>

      <div class="p-col-12 preset">
        {{ transfer.city }}
      </div>

      <div class="p-col-12">
        <app-colors></app-colors>
      </div>
      <div class="p-col-12">
        <input type="text" pInputText [(ngModel)]="transfer.price" />
      </div>
      <div class="p-col-12">
        <input type="text" pInputText [(ngModel)]="transfer.quantity" />
      </div>
      <div class="p-col-12">
        <h3 class="first">Specifications</h3>
        <p-dropdown
          [options]="specs"
          [(ngModel)]="transfer.specifications"
          placeholder="Select a specifications"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="p-col-12">
        <h3 class="first">Gear Type</h3>
        <p-dropdown
          [options]="gears"
          [(ngModel)]="transfer.gear"
          placeholder="Select a Gear"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="p-col-12">
        <h3 class="first">Fuel Type</h3>
        <p-dropdown
          [options]="fuels"
          [(ngModel)]="transfer.fueltype"
          placeholder="Select a Fuel"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="p-col-12">
        <h3 class="first">Incoming Type</h3>
        <p-dropdown
          [options]="types"
          [(ngModel)]="transfer.incomingtype"
          placeholder="Select a Incoming"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="p-col-12">
        <app-upload></app-upload>
      </div>
      <div class="p-col-12">
        <h3>Do you accept our terms and conditions</h3>
        <p-checkbox [(ngModel)]="isAccepted" binary="true"></p-checkbox>
      </div>
      <div clas="p-col-2">
        <button
          pButton
          type="button"
          icon="pi pi-save"
          label="Save"
          (click)="save()"
        ></button>
      </div>
    </p-fieldset>
  </div>
</div>
