<div class="card clearfix summary" id="pricing">
  <div class="pricing-content">
    <span class="pricing-title">Pricing</span>
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium, totam rem aperiam.
    </p>

    <div class="ui-g">
      <div class="ui-g-12 ui-md-4">
        <div class="pricing-basic pricing-box">
          <span class="pricing-name">Basic</span>
          <div class="pricing-fee">1$</div>

          <p>50GB Disk Space</p>
          <p>500GB Monthly Bandwith</p>
          <p>20 Email Accounts</p>
          <p>5 Subdomain</p>
        </div>
      </div>

      <div class="ui-g-12 ui-md-4">
        <div class="pricing-standard pricing-box">
          <span class="pricing-name">Standard</span>
          <div class="pricing-fee">5$</div>

          <p>200GB Disk Space</p>
          <p>1TB Monthly Bandwith</p>
          <p>50 Email Accounts</p>
          <p>10 Subdomain</p>
        </div>
      </div>

      <div class="ui-g-12 ui-md-4">
        <div class="pricing-professional pricing-box">
          <span class="pricing-name">Professional</span>
          <div class="pricing-fee">10$</div>

          <p>2TB Disk Space</p>
          <p>10TB Monthly Bandwith</p>
          <p>Unlimited Email Accounts</p>
          <p>50 Subdomain</p>
        </div>
      </div>
    </div>
  </div>
</div>
