<div class="p-grid p-align-center">
  <div class="p-col">
    <p-dropdown
      [options]="brands | async"
      filter="true"
      placeholder="Select a Brand"
      [(ngModel)]="selectedBrand"
    >
      <ng-template let-item pTemplate="selectedItem">
        <span class="maker_logo  {{ item.cls }}"></span>

        <span style="vertical-align: middle; margin-left: 0.5em;">{{
          item.brand
        }}</span>
      </ng-template>
      <ng-template let-brand pTemplate="item">
        <span class="maker_logo  {{ brand.cls }}"></span>
        <div
          style="
            font-size: 18px;
            font-weight: bold;
            display: inline-block;
            margin-top: 5px;
          "
        >
          {{ brand.brand }}
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div class="p-col">
    <p-dropdown [options]="years" placeholder="Select a Year"></p-dropdown>
  </div>
  <div class="p-col">
    <p-dropdown [options]="sub" placeholder="Select a Sub Brand"></p-dropdown>
  </div>
  <div class="p-col">
    <p-dropdown [options]="colors" placeholder="Select a Color"></p-dropdown>
  </div>
  <div class="p-col">
    <p-dropdown
      [options]="cities"
      placeholder="Select a City"
      [showClear]="true"
    ></p-dropdown>
  </div>
  <div class="p-col">
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4"></div>
      </div>
    </div>
  </div>
</div>
<div class="grid-sub-heading">
  <div class="heading-title">
    سيارات للبيع في السعودية
  </div>
  <div class="header-switch">
    <div class="sort-dropdown">
      <p-dropdown
        [options]="sortOptions"
        [(ngModel)]="sortKey"
        placeholder="Sort By"
        (onChange)="onSortChange($event)"
        [style]="{ 'min-width': '140px' }"
      ></p-dropdown>
    </div>
    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
  </div>
</div>
