<div class="landing-footer">
  <div class="landing-footer-content">
    <div class="footer-top">
      <div class="ui-g">
        <div class="ui-g-6">
          <img src="../../../../assets//images//logo.gif" />
          <p>Omega Premium Layout</p>
        </div>
        <div class="ui-g-6">
          <ul>
            <li><a href="#pricing">Pricing</a></li>
          </ul>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#features">Features</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      Mawthog.com All Rights Reserved
    </div>
  </div>
</div>
