<header>
  <nav>
    <span class="navbar-toggle" (click)="toggleResponsive()">
      <i class="fa fa-bars"></i>
    </span>
    <div class="logo">
      <img src="../../../../assets/images/logo.gif" alt="" width="100px" />
    </div>
    <ul [ngClass]="responsive ? 'active' : ''">
      <li><a href="#">Home</a></li>
      <li><a href="#introduction">Agencies</a></li>
      <li><a href="#features">Installments</a></li>
      <li><a href="#mobile">Auctions</a></li>
      <li><a href="#pricing">Financial Companies</a></li>
      <li><a href="#video">Contact Us</a></li>
      <li class="pull-left">
        <div>
          <p-button iconPos="right" label="Register"></p-button>
          <p-button label="Login"></p-button>
        </div>
      </li>
    </ul>
  </nav>
</header>
