header {
  background-color: white;
  padding-bottom: 7px;
  background: #fff;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 10vh;
  right: 0;
  width: 100%;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  transition: transform 0.2s ease-out;
  z-index: 200;
  justify-content: flex-start;
}
nav {
  width: 100%;
}
nav ul {
  list-style-type: none;
  display: none;
}
nav ul li {
  text-align: center;
  margin: 15px auto;
}
nav ul li a {
  color: rgb(22, 15, 15);
  text-decoration: none;
  opacity: 0.7;
  font-size: 17px;
}
nav ul li a:hover {
  opacity: 1;
}
.logo {
  width: 100px;
}

.navbar-toggle {
  position: absolute;
  top: 15px;
  right: 130px;
  cursor: pointer;
  font-size: 24px;
}
header .active {
  transition: display 2s;
  display: block;
}
@media screen and (min-width: 786px) {
  nav {
    display: flex;
    justify-content: space-between;
    height: 6vh;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  nav ul li {
    margin: 0px;
    margin-left: 30px;
  }
  .navbar-toggle {
    display: none;
  }
}
.pull-left p-button {
  padding: 0px 5px;
}
